<div class="flex flex-row justify-between">
    <span class="text-4xl font-light">Cliente</span>
    <button (click)="adicionarCliente()" [disabled]="!cliente.valid"
        [ngClass]="cliente.valid ? 'bg-blue-800 hover:bg-blue-800': 'bg-blue-200'"
        class=" text-white font-medium py-2 px-4 rounded cursor-pointer">
        <span *ngIf="novo">
            Adicionar
        </span>
        <span *ngIf="!novo">
            Editar
        </span>
    </button>
</div>
<div class="p-10">
    <form [formGroup]="cliente">
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Digite seu nome" formControlName="nome">
            <mat-error *ngIf="cliente.controls['nome'].getError('pattern')">Nome inválido</mat-error>
            <mat-error *ngIf="cliente.controls['nome'].getError('required')">Nome obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="Digite seu telefone" formControlName="telefone" [mask]="'(00) 00000-0000'">
            <mat-error *ngIf="cliente.controls['telefone'].getError('invalido')">Telefone inválido</mat-error>
            <mat-error *ngIf="cliente.controls['telefone'].getError('required')">Telefone obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Digite seu email" formControlName="email">
            <mat-error *ngIf="cliente.controls['email'].getError('email')">Email inválido</mat-error>
            <mat-error *ngIf="cliente.controls['email'].getError('required')">Email obrigatório</mat-error>
        </mat-form-field>
    </form>
</div>